* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(200,200,200);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* DOTS ################################################## */
.dot {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 2; /* <======== remove */
}
.redD {border: 1px solid red;}
.greenD {border: 1px solid green;}
.blueD {border: 1px solid blue;}
.yellowD {border: 1px solid yellow;}
.purpleD {border: 1px solid purple;}
.ct {
    border-radius: 50%;
    border: 2px solid black;
    z-index: 2; /* <======== remove */
}

/* LINES ################################################## */
.line {
    position: absolute;
    /* top: 200px;
    left: 200px;
    width: 100px; */
    border: 1px dashed black;
}
 /* COLLISION ############################################# */
 .collide {
     box-shadow: inset 0 0 10px 5px red;
     animation: rotate 5s infinite linear;
     width: 15px;
     height: 15px;
     border: 2px dotted red;
 }
 @keyframes rotate {
     from {transform: rotate(0deg);}
     to {transform: rotate(360deg);}
 }

 /* BLOCKS ############################################### */
 .block {
    position: absolute;
    background: rgb(100,100,100);
    border: 1px solid black;
    border-radius: 5px;
 }